.tree-container {
  display: flex;
  padding: 20px;
}

ul li {
    list-style: none;
}

.icon::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
}

.icon-down::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    transform: rotate(90deg);
  }