.loading {
  height: 50px;
  width: 50px;
  margin: auto;
  border: 15px solid #d7caca;
  border-radius: 50%;
  border-top-color: rgb(137, 206, 137);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.textF {
  height: 30px;
  width: 300px;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 2px 2px;
}
